:root {
    --md-accent-fg-color: #d41246;
    --md-accent-fg-color--transparent: #ff19471a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-primary="black"] {
    --md-typeset-a-color: #d41246;
}