---
    name: Docs - Tests
    'on':
      workflow_dispatch:
      push:
        branches:
          - "*"
      pull_request:
    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6
            with:
               fetch-depth: 0
          - uses: actions/setup-python@v5
            with:
              python-version: 3.x
          - uses: actions/cache@v4
            with:
              key: ${{ github.ref }}
              path: .cache
          - run: pip install -r requirements-docs.txt
          - run: mkdocs build
    